In [19]:
import FinanceDataReader as fdr
top25_stock = fdr.StockListing('KOSPI')[:25][['Code', 'Name']]
top25_stock

      Code      Name
0   005930      삼성전자
1   373220  LG에너지솔루션
2   000660    SK하이닉스
3   207940  삼성바이오로직스
4   051910      LG화학
5   006400     삼성SDI
6   005935     삼성전자우
7   005380       현대차
8   005490  POSCO홀딩스
9   035420     NAVER
10  000270        기아
11  003670    포스코퓨처엠
12  035720       카카오
13  068270      셀트리온
14  012330     현대모비스
15  066570      LG전자
16  028260      삼성물산
17  105560      KB금융
18  096770   SK이노베이션
19  055550      신한지주
20  003550        LG
21  032830      삼성생명
22  323410     카카오뱅크
23  034730        SK
24  086790    하나금융지주

In [22]:
import pandas as pd
import numpy as np

In [36]:
import pandas as pd

# crawled_news_with_company.csv 파일 불러오기
df = pd.read_csv('crawled_news_with_company.csv')

# '날짜' 열을 날짜 형식으로 변환
df['날짜'] = pd.to_datetime(df['날짜'])

# 2022년 6월 13일 데이터가 있는 종목들만 선택
selected_stocks = df[df['날짜'].dt.year == 2022][df['날짜'].dt.month == 6]['종목명'].unique()

# 선택된 종목들에 해당하는 데이터만 추출
df_selected = df[df['종목명'].isin(selected_stocks)]

# 제거된 종목들 출력
removed_stocks = list(set(df['종목명'].unique()) - set(selected_stocks))
print("제거된 종목들:")
for stock in removed_stocks:
    print(stock)

# 데이터를 CSV 파일로 저장
df_selected.to_csv('filtered_news.csv', index=False, encoding='utf-8-sig')

C:\Users\dong_\AppData\Local\Temp\ipykernel_29692\2664040508.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  selected_stocks = df[df['날짜'].dt.year == 2022][df['날짜'].dt.month == 6]['종목명'].unique()

제거된 종목들:
삼성전자
현대차
POSCO홀딩스
삼성전자우
LG전자
SK
카카오
NAVER
신한지주

삼성전자는 2023.04.08
NAVER는 2022.10.14

In [34]:
import pandas as pd

# CSV 파일 로드
df = pd.read_csv('filtered_news.csv')

# 종목별 뉴스 개수 계산
news_count_by_company = df['종목명'].value_counts()

# 전체 크롤링된 뉴스 수 계산
total_news_count = len(df)

# 종목별 뉴스 개수 및 전체 뉴스 수 출력
for company_name, news_count in news_count_by_company.items():
    print(f"{company_name}: {news_count}개의 뉴스 크롤링됨")

print(f"전체 크롤링된 뉴스 수: {total_news_count}개")

SK하이닉스: 7286개의 뉴스 크롤링됨
카카오뱅크: 6950개의 뉴스 크롤링됨
기아: 6874개의 뉴스 크롤링됨
하나금융지주: 6743개의 뉴스 크롤링됨
LG에너지솔루션: 5572개의 뉴스 크롤링됨
LG: 4626개의 뉴스 크롤링됨
LG화학: 4619개의 뉴스 크롤링됨
셀트리온: 4076개의 뉴스 크롤링됨
KB금융: 3588개의 뉴스 크롤링됨
삼성물산: 3192개의 뉴스 크롤링됨
포스코퓨처엠: 3054개의 뉴스 크롤링됨
현대모비스: 2387개의 뉴스 크롤링됨
삼성SDI: 2364개의 뉴스 크롤링됨
삼성생명: 1518개의 뉴스 크롤링됨
SK이노베이션: 1433개의 뉴스 크롤링됨
삼성바이오로직스: 1420개의 뉴스 크롤링됨
전체 크롤링된 뉴스 수: 65702개

NameError: name 'filtered_news' is not defined