In [22]:
!pip install finance-datareader
!pip install koreanize-matplotlib

Requirement already satisfied: finance-datareader in c:\anaconda3\envs\nam\lib\site-packages (0.9.50)
Requirement already satisfied: tqdm in c:\anaconda3\envs\nam\lib\site-packages (from finance-datareader) (4.64.1)
Requirement already satisfied: lxml in c:\anaconda3\envs\nam\lib\site-packages (from finance-datareader) (4.9.1)
Requirement already satisfied: pandas>=0.19.2 in c:\anaconda3\envs\nam\lib\site-packages (from finance-datareader) (1.5.2)
Requirement already satisfied: requests>=2.3.0 in c:\anaconda3\envs\nam\lib\site-packages (from finance-datareader) (2.28.1)
Requirement already satisfied: requests-file in c:\anaconda3\envs\nam\lib\site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\anaconda3\envs\nam\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda3\envs\nam\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in c:\anaconda3\envs\nam\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.24.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda3\envs\nam\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.13)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\anaconda3\envs\nam\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda3\envs\nam\lib\site-packages (from requests>=2.3.0->finance-datareader) (2023.5.7)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda3\envs\nam\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.4)
Requirement already satisfied: six in c:\anaconda3\envs\nam\lib\site-packages (from requests-file->finance-datareader) (1.16.0)
Requirement already satisfied: colorama in c:\anaconda3\envs\nam\lib\site-packages (from tqdm->finance-datareader) (0.4.6)
Requirement already satisfied: koreanize-matplotlib in c:\anaconda3\envs\nam\lib\site-packages (0.1.1)
Requirement already satisfied: matplotlib in c:\anaconda3\envs\nam\lib\site-packages (from koreanize-matplotlib) (3.6.2)
Requirement already satisfied: pillow>=6.2.0 in c:\anaconda3\envs\nam\lib\site-packages (from matplotlib->koreanize-matplotlib) (9.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\anaconda3\envs\nam\lib\site-packages (from matplotlib->koreanize-matplotlib) (1.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\anaconda3\envs\nam\lib\site-packages (from matplotlib->koreanize-matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.19 in c:\anaconda3\envs\nam\lib\site-packages (from matplotlib->koreanize-matplotlib) (1.24.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\anaconda3\envs\nam\lib\site-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\anaconda3\envs\nam\lib\site-packages (from matplotlib->koreanize-matplotlib) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\anaconda3\envs\nam\lib\site-packages (from matplotlib->koreanize-matplotlib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\anaconda3\envs\nam\lib\site-packages (from matplotlib->koreanize-matplotlib) (22.0)
Requirement already satisfied: cycler>=0.10 in c:\anaconda3\envs\nam\lib\site-packages (from matplotlib->koreanize-matplotlib) (0.11.0)
Requirement already satisfied: six>=1.5 in c:\anaconda3\envs\nam\lib\site-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.16.0)

In [23]:
#importing required libraries
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM
from keras.callbacks import TensorBoard

In [24]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy
from matplotlib import pyplot as plt
from matplotlib import cm as cm
import FinanceDataReader as fdr
import koreanize_matplotlib

In [26]:
fdr.StockListing('KOSPI')[:25]

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,72000,1,1000,1.41,71700,72000,71600,6284439,451259061300,429824343600000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,608000,2,-4000,-0.65,612000,613000,606000,85821,52221366000,142272000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,118900,1,4100,3.57,117000,119000,117000,3308333,391136000950,86559481198500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,792000,2,-3000,-0.38,800000,804000,790000,28129,22420364000,56369808000000,71174000,STK
4,051910,KR7051910008,LG화학,KOSPI,,744000,2,-2000,-0.27,750000,751000,742000,78825,58708909000,52520703192000,70592343,STK
5,006400,KR7006400006,삼성SDI,KOSPI,,741000,1,1000,0.14,740000,745000,736000,69148,51169483000,50954516730000,68764530,STK
6,005935,KR7005931001,삼성전자우,KOSPI,,61100,1,200,0.33,61200,61500,60800,458150,27963424700,50278377370000,822886700,STK
7,005380,KR7005380001,현대차,KOSPI,,197600,1,1400,0.71,196700,197700,196200,236033,46487134700,41798625585600,211531506,STK
8,005490,KR7005490008,POSCO홀딩스,KOSPI,,391500,3,0,0.00,394000,395000,387500,465054,181430500000,33109636545000,84571230,STK
9,000270,KR7000270009,기아,KOSPI,,82200,1,600,0.74,82000,82500,81600,549502,45051865400,33048033486600,402044203,STK
10,035420,KR7035420009,NAVER,KOSPI,,201000,1,500,0.25,202000,203000,199600,315144,63252785300,32973866085000,164049085,STK
11,003670,KR7003670007,포스코퓨처엠,KOSPI,,393000,1,4500,1.16,392000,395500,383000,549069,214591164500,30443045460000,77463220,STK
12,035720,KR7035720002,카카오,KOSPI,,56600,3,0,0.00,57000,57100,56300,577079,32668968900,25136298059600,444104206,STK
13,068270,KR7068270008,셀트리온,KOSPI,,166400,2,-600,-0.36,167300,168600,165700,226530,37806578100,24359439436800,146390862,STK
14,012330,KR7012330007,현대모비스,KOSPI,,223500,1,1500,0.68,221500,224000,220500,75029,16701448500,21072718509000,94285094,STK
15,066570,KR7066570003,LG전자,KOSPI,,124200,2,-1400,-1.11,126000,126300,123000,558657,69354216700,20325058498800,163647814,STK
16,028260,KR7028260008,삼성물산,KOSPI,,109300,2,-300,-0.27,109900,110000,108800,104407,11398693100,20285169531000,185591670,STK
17,105560,KR7105560007,KB금융,KOSPI,,48850,1,100,0.21,48900,48900,48550,380839,18551113750,19711515867200,403511072,STK
18,055550,KR7055550008,신한지주,KOSPI,,35300,1,50,0.14,35300,35350,35050,557697,19644625450,18447441084700,522590399,STK
19,096770,KR7096770003,SK이노베이션,KOSPI,,199100,2,-1900,-0.95,200500,201500,196000,445067,88093743900,18409893792400,92465564,STK
20,003550,KR7003550001,LG,KOSPI,,90500,1,200,0.22,90700,90900,89500,91467,8253034700,14235739866500,157300993,STK
21,032830,KR7032830002,삼성생명,KOSPI,,67100,2,-600,-0.89,68000,68000,66000,145497,9683917300,13420000000000,200000000,STK
22,323410,KR7323410001,카카오뱅크,KOSPI,,26850,2,-50,-0.19,26850,26900,26500,539199,14409108050,12801197628450,476767137,STK
23,034730,KR7034730002,SK,KOSPI,,171300,1,300,0.18,171900,172400,170200,64952,11119019700,12538873757700,73198329,STK
24,352820,KR7352820005,하이브,KOSPI,,294000,3,0,0.00,294500,296500,289000,139325,40905846500,12244827168000,41649072,STK

In [31]:
import FinanceDataReader as fdr

# KOSPI 상위 25개 종목 리스트
top25 = fdr.StockListing('KOSPI')[:25][['Code', 'Name']]

# 제거할 종목 리스트
remove_list = ['삼성전자', '현대차', 'POSCO홀딩스', '삼성전자우', 'LG전자', 'SK', '카카오', 'NAVER', '신한지주']

# 제거된 종목 제외
top25 = top25[~top25['Name'].isin(remove_list)].reset_index(drop=True)
top25

      Code      Name
0   373220  LG에너지솔루션
1   000660    SK하이닉스
2   207940  삼성바이오로직스
3   051910      LG화학
4   006400     삼성SDI
5   000270        기아
6   003670    포스코퓨처엠
7   068270      셀트리온
8   012330     현대모비스
9   028260      삼성물산
10  105560      KB금융
11  096770   SK이노베이션
12  003550        LG
13  032830      삼성생명
14  323410     카카오뱅크
15  352820       하이브

In [28]:
stocks_data = {}
for i, stock_code in enumerate(fdr.StockListing('KRX')[:25]['Code']):
    df = fdr.DataReader(stock_code, '2022-06-13')
    stocks_data[list(top25['Name'])[i]] = df

In [29]:
stocks_data['카카오뱅크']

             Open   High    Low  Close  Volume    Change
Date
2022-06-13  79400  79800  77500  77800  217420 -0.037129
2022-06-14  77400  77500  75600  77000  251534 -0.010283
2022-06-15  76500  77200  75400  76200  289979 -0.010390
2022-06-16  76800  79900  76700  77500  246087  0.017060
2022-06-17  77000  78700  76100  78000  281782  0.006452
...           ...    ...    ...    ...     ...       ...
2023-06-07  89800  91300  89700  90200  206879  0.010078
2023-06-08  90200  91100  89100  90700  240758  0.005543
2023-06-09  90700  91500  90200  90400  164067 -0.003308
2023-06-12  91200  91500  89600  90300  135534 -0.001106
2023-06-13  90700  90900  89500  90600   99573  0.003322

[249 rows x 6 columns]

In [ ]:
기아_감정점수 = pd.read_csv('/content/기아_감정점수.csv', index_col='날짜')
기아_감정점수 = 기아_감정점수[기아_감정점수.index > '2022-06-09']
기아_감정점수.index = pd.to_datetime(기아_감정점수.index)
stocks_data['기아'] = pd.merge(stocks_data['기아'], 기아_감정점수, left_index=True, right_index=True)
stocks_data['기아'] = stocks_data['기아'][['Open', 'High', 'Low', 'Volume','Change','감정상태',  'Close']]